{% extends 'base2.html' %}
{% block title %}
<title>{{webtitle}} | News</title>
{% endblock %}
{% block body %}

<!--content-->

<div class="content">
    <h2>{{webtitle}} News</h2>
    <div class="newstand">
        {%for data in data.items%}
        <div class="news">
            <div class="text">
                <h3> <a href="/Category/{{data.category}}/{{data.title}}" class="newtitle" > {{data.title}}</a></h3>
                <p class="desc">{{data.desc}}</p>
                <p class="posted_time" transform: skewX(-10deg);>Posted on: {{data.date}}</p>
            </div>
            {% if data.imgholder != "" %}
            <div class="image">
                <img src="{{ url_for('static', filename=data.imgholder) }}">
            </div>
            {% endif %}
        </div>
        {%endfor%}
    </div>
    <div class="control">
        {% if data.has_prev %}<a href="/category/{{webtitle}}/{{data.prev_num}}"> <button
                class="btn btn-primary">&larr; Previous Page </button></a>{% else %} <button class="btn btn-primary" disabled>&larr; Previous Page</button>{%
        endif %} 
        {% if data.has_next %}<a href="/category/{{webtitle}}/{{data.next_num}}"><button class="btn btn-primary">
         Next Page &rarr;   
        </button> </a>{% else %}<button class="btn btn-primary" disabled>Next Page &rarr;</button> {% endif %}
    </div>
</div>
{% endblock %}