<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        input{
            margin: auto 10px;
            font-size: medium;
            font-family: Georgia, 'Times New Roman', Times, serif
        }
    </style>
</head>
<body>
    <h1>Your are about to delete all the records.</h1>
    <h3>Do you really want to do?</h3>
   <a href="/deleteall"> <input type="button" value="Yes"></a>
   <a href="/newsmaker"><input type="button" value="No"></a>
</body>
</html>